{{ define "main" }}
  {{ if gt (len .Content) (0) }}
    {{ partial "post_meta.html" . }}
    <h1 class="post-title">
      <a href="{{ .Permalink }}">#</a> {{ .Title | markdownify }}
    </h1>
  {{ end }}

  {{ with .Content }}
    <div class="index-content">
      {{ . }}
    </div>
  {{ end }}
  <div class="posts">
    {{ range .Paginator.Pages }}
      <article class="post on-list">
        {{ partial "post_preview.html" . }}
      </article>
    {{ end }}

    {{ partial "pagination.html" . }}
  </div>
{{ end }}
