{
	auto_https off
	admin off
	servers {
		metrics
	}
}

http://slush.systems:8080 {
	root * /usr/share/caddy
	file_server
}

:9091 {
	respond /healthz 200
	metrics /metrics
	log {
		output discard
	}
}
