.navigation-menu {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 20px 1px;

  &__inner {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      flex: 0 0 auto;
      white-space: nowrap;

      &:not(:last-of-type) {
        margin-right: 20px;
      }
    }
  }

  .spacer {
    flex-grow: 1 !important;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}
