.bg {
	color: #f8f8f2;
	background-color: #282a36;
}
.chroma {
	color: #f8f8f2;
	background-color: #282a36;
	.x {
	}
	.err {
	}
	.cl {
	}
	.lnlinks {
		outline: none;
		text-decoration: none;
		color: inherit;
	}
	.lntd {
		vertical-align: top;
		padding: 0;
		margin: 0;
		border: 0;
	}
	.lntable {
		border-spacing: 0;
		padding: 0;
		margin: 0;
		border: 0;
	}
	.hl {
		background-color: $current_line;
	}
	.lnt {
		white-space: pre;
		user-select: none;
		margin-right: 0.4em;
		padding: 0 0.4em 0 0.4em;
		color: #7f7f7f;
	}
	.ln {
		white-space: pre;
		user-select: none;
		margin-right: 0.4em;
		padding: 0 0.4em 0 0.4em;
		color: #7f7f7f;
	}
	.line {
		display: flex;
	}
	.k {
		color: #ff79c6;
	}
	.kc {
		color: #ff79c6;
	}
	.kd {
		color: #8be9fd;
		font-style: italic;
	}
	.kn {
		color: #ff79c6;
	}
	.kp {
		color: #ff79c6;
	}
	.kr {
		color: #ff79c6;
	}
	.kt {
		color: #8be9fd;
	}
	.n {
	}
	.na {
		color: #50fa7b;
	}
	.nb {
		color: #8be9fd;
		font-style: italic;
	}
	.bp {
	}
	.nc {
		color: #50fa7b;
	}
	.no {
	}
	.nd {
	}
	.ni {
	}
	.ne {
	}
	.nf {
		color: #50fa7b;
	}
	.fm {
	}
	.nl {
		color: #8be9fd;
		font-style: italic;
	}
	.nn {
	}
	.nx {
	}
	.py {
	}
	.nt {
		color: #ff79c6;
	}
	.nv {
		color: #8be9fd;
		font-style: italic;
	}
	.vc {
		color: #8be9fd;
		font-style: italic;
	}
	.vg {
		color: #8be9fd;
		font-style: italic;
	}
	.vi {
		color: #8be9fd;
		font-style: italic;
	}
	.vm {
	}
	.l {
	}
	.ld {
	}
	.s {
		color: #f1fa8c;
	}
	.sa {
		color: #f1fa8c;
	}
	.sb {
		color: #f1fa8c;
	}
	.sc {
		color: #f1fa8c;
	}
	.dl {
		color: #f1fa8c;
	}
	.sd {
		color: #f1fa8c;
	}
	.s2 {
		color: #f1fa8c;
	}
	.se {
		color: #f1fa8c;
	}
	.sh {
		color: #f1fa8c;
	}
	.si {
		color: #f1fa8c;
	}
	.sx {
		color: #f1fa8c;
	}
	.sr {
		color: #f1fa8c;
	}
	.s1 {
		color: #f1fa8c;
	}
	.ss {
		color: #f1fa8c;
	}
	.m {
		color: #bd93f9;
	}
	.mb {
		color: #bd93f9;
	}
	.mf {
		color: #bd93f9;
	}
	.mh {
		color: #bd93f9;
	}
	.mi {
		color: #bd93f9;
	}
	.il {
		color: #bd93f9;
	}
	.mo {
		color: #bd93f9;
	}
	.o {
		color: #ff79c6;
	}
	.ow {
		color: #ff79c6;
	}
	.p {
	}
	.c {
		color: #6272a4;
	}
	.ch {
		color: #6272a4;
	}
	.cm {
		color: #6272a4;
	}
	.c1 {
		color: #6272a4;
	}
	.cs {
		color: #6272a4;
	}
	.cp {
		color: #ff79c6;
	}
	.cpf {
		color: #ff79c6;
	}
	.g {
	}
	.gd {
		color: #ff5555;
	}
	.ge {
		text-decoration: underline;
	}
	.gr {
	}
	.gh {
		font-weight: bold;
	}
	.gi {
		color: #50fa7b;
		font-weight: bold;
	}
	.go {
		color: #44475a;
	}
	.gp {
	}
	.gs {
	}
	.gu {
		font-weight: bold;
	}
	.gt {
	}
	.gl {
		text-decoration: underline;
	}
	.w {
	}
}

