/* COLOR VARIABLES */
$background: #1d1f21; //tomorrow-night background 
$dark_background: #111213; // tomorrow-night dark background
// $dark_background: #050606; // tomorrow-night darker background
$current_line: #282a2e; //line 
$color: #c5c8c6; // tomorrow-night foreground
$comment: #969896; //tomorrow-night comment 
$window: #4d5057; //tomorrow-night window
$highlight: #ffffcc; // highlight
// $selection: #373b41; //tomorrow-night selection 
$border-color: rgba(255, 255, 255, .1);

$aqua: #8abeb7; //tomorrow-night aqua 
$blue: #81a2be; //tomorrow-night blue
$green: #b5bd68; //tomorrow-night green 
$orange: #de935f; //tomorrow-night orange 
$purple: #b294bb; //tomorrow-night purple 
$red: #cc6666; //tomorrow-night red 
$yellow: #f0c674; //tomorrow-night yellow 



/* MEDIA QUERIES */
$phone: "max-width: 684px";
$tablet: "max-width: 900px";

/* variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}
