<div class="post-meta">
  <table>
    <tr>
      <td>commit</td>
      <td>
        <a href="{{ .Site.Params.githubCommitUrlPrefix }}{{ .GitInfo.Hash }}">
          {{ .GitInfo.AbbreviatedHash }}
        </a>
      </td>
    </tr>
    <tr>
      <td>author</td>
      <td>{{ lower .GitInfo.AuthorName }}</td>
    </tr>
    <tr>
      <td>updated</td>
      <td>
        <time class="post-date">
          {{ .GitInfo.AuthorDate.Format "2006-01-02T15:04:05Z07:00" }}
        </time>
      </td>
    </tr>
    <tr>
      <td>meta</td>
      <td>
        <span class="post-tags">
          {{ with .Section }}
            <a href="{{ (urlize (printf "/%s" .)) | absLangURL }}">/{{ . }}</a>&emsp;—&nbsp;
          {{ end }}
          {{ if .Params.tags }}
            {{ range .Params.tags }}
            <a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">#{{ . }}</a>&nbsp;
            {{ end }}
          {{ end }}
        </span>
      </td>
    </tr>
  </table>
</div>
<div class="post-tldr">
  {{ "_tl;dr:_" | markdownify }}
  {{ if .Params.showFullContent }}
    {{ .Content }}
  {{ else if .Description }}
    {{ .Description | markdownify }}
  {{ else }}
    {{ .Summary }}
  {{ end }}
</div>

