{{ define "main" }}
  <div class="post">
    <h1 class="post-title">500 Internal Server Error</h1>

    <div class="post-content">
      <p>
        <em>
          oopsy woopsy we made a fucky wucky. a wittle fucko boingo. the
          code monkeys at our headquarters are working vewy hawd to fix
          this.
          <a href="https://twitter.com/cherrikissu/status/972524442600558594">-- @cherrikissu</a>
        </em>
      </p>
      <a href="{{ "/" | absURL }}">&lt;-&nbsp;{{ $.Site.Params.missingBackButtonLabel | default "Back to home page" }}</a>
    </div>

  </div>
{{ end }}
